<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        A Kahoot for the future
      </h1>
    </header>

 
      
      
      <p>Get Questions</p>
      
      <form >

        <button type="submit" id="getQFormID">getQ</button>
      </form>
     

    
    
 
  <form method="get">
<fieldset>
<p>
  Question <span id="NumqidID1"></span>
  </p>
  <h2 id="qtxtID1">
 
  </h2>

<select name="qansN1" id="qidID1">
  <option value="opt1">{{items[0].qopt1}}</option>
  <option value="opt2">{{items[0].qopt2}}</option>
  <option value="opt3">{{items[0].qopt3}}</option>
  <option value="opt4">{{items[0].qopt4}}</option>
  
 </select><br>
     
  </fieldset>
    <br>
    <fieldset>
<p>
  Question <span id="NumqidID2"></span>
  </p>
  <h2 id="qtxtID2">
 
  </h2>

<select name="qansN2" id="qidID2">
  <option value="opt1">{{items[0].qopt1}}</option>
  <option value="opt2">{{items[0].qopt2}}</option>
  <option value="opt3">{{items[0].qopt3}}</option>
  <option value="opt4">{{items[0].qopt4}}</option>
  
 </select><br>
     
  </fieldset>
    <br>
    <fieldset>
<p>
  Question <span id="NumqidID3"></span>
  </p>
  <h2 id="qtxtID3">
 
  </h2>

<select name="qansN3" id="qidID3">
  <option value="opt1">{{items[0].qopt1}}</option>
  <option value="opt2">{{items[0].qopt2}}</option>
  <option value="opt3">{{items[0].qopt3}}</option>
  <option value="opt4">{{items[0].qopt4}}</option>
  
 </select><br>
     
  </fieldset>
    <p> <button type="submit">processQ</button> </p> 
 </form>
      




  
  </body>
</html>
